:root {
  --basic-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --logo-text-color: #000000;
  --header-text-color: #212121;
  --header-stroke-color: #ececec;
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --accent-color: #2196f3;
  --accent-highlights-color: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --stroke-color-section: #000000;
  --stroke-color-link: #eeeeee;
  --btn-text-color: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--basic-background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------HEADER SECTION --------------------- */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
}

.logo-accent {
  color: var(--accent-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-text-color);
}

.current {
  color: var(--accent-text-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ----------------HERO SECTION --------------------- */

.hero {
  background-color: var(--hero-background-color);
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.hero-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-highlights-color);
}

/* ----------------PRIORITY SECTION --------------------- */

.priority-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
}

.priority-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------WORKS SECTION --------------------- */

.works-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

/* ----------------TEAM SECTION --------------------- */

.team {
  background-color: var(--second-background-color);
}

.team-header {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.team-second-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ----------------FOOTER SECTION --------------------- */

.footer {
  background-color: var(--footer-background-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.footer-map:hover,
.footer-map:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
}

/* ----------------PORTFOLIO SECTION --------------------- */

.portfolio-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  background: var(--second-background-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.portfolio-button-active {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}
.option-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
}
.option-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
